* {
  box-sizing: border-box;
}
@font-face {
  font-family: "MuseoCyrl-900";
  src: url("../fonts/MuseoCyrl-900.woff") format("woff"),
    url("../fonts/MuseoCyrl-900.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  padding: 22px 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f1f1f1;
  position: fixed;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin-right: 114px;
  margin-left: 149px;
}

.nav-link {
  color: #202020;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
  font-size: 14px;
  font-weight: 400;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
}

.login {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.section-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.hero {
  padding-top: 60px;
  padding-bottom: 70px;
  margin-top: 60px;
}

.hero-conteiner {
  display: flex;
  max-width: 1140px;
  margin-right: 114px;
  margin-left: 149px;
  align-items: center;
}

.image-block {
  position: relative;
  width: 460px;
}

.hero-text {
  margin-left: 123px;
}

.sale-label {
  font-size: 18px;
  font-weight: 500;
  right: 0;
  top: 23px;
  color: #ffffff;
  background-color: #c93535;
  padding: 12px 17px;
  position: absolute;
}

.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}

.title {
  font-family: "MuseoCyrl-900";
  font-size: 54px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.subtitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}
.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.cost {
  font-size: 55px;
  font-weight: 400;
  margin-right: 64px;
}
.favourites {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.button {
  width: 250px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
}

.button-primary {
  background-color: #f89c02;
  color: #ffffff;
  display: inline-block;
  padding: 23px 59px;
  margin-right: 20px;
}

.button-outline {
  border: 2px solid #f89c02;
  color: #f89c02;
  display: inline-block;
  text-decoration: none;
  padding: 23px 70px;
}

.about {
  background-color: #f1f1f1;
  padding: 99px 0;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1140px;
  margin-right: 114px;
  margin-left: 149px;
}
.about-book {
  max-width: 454px;
  flex-shrink: 0;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
}

.about-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 552px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background-color: #ffffff;
  padding: 68px 53px;
}

.author-avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
  margin-bottom: 14px;
}

.author-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.author-name {
  font-size: 16px;
  font-weight: 700;
}

.author-text {
  margin-top: 24px;
  flex-basis: 100%;
  font-size: 16px;
  font-weight: 400;
}

.reader-container {
  background-color: #ffffff;
  padding-bottom: 109px;
}

.about-readers {
  margin-right: 114px;
  margin-left: 149px;
}

.text {
  font-size: 32px;
  font-weight: 700;
  margin-top: 87px;
  margin-bottom: 57px;
}
.reader-foto {
  margin-bottom: 30px;
  margin-right: 30px;
}

.foto {
  width: 165px;
  height: 165px;
}

.foto-part-2 {
  margin-right: 30px;
}

.side-photo {
  margin-right: 0;
}

.foto-avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  padding-top: 60px;
  padding-bottom: 93px;
  background-color: #f1f1f1;
}
.footer-container {
  max-width: 1140px;
  margin-right: 114px;
  margin-left: 149px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 0;
}

.footer-list {
  padding: 0;
  list-style: none;
}

.list-atem {
  margin-bottom: 16px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.requisites {
  margin-right: 167px;
}
.information {
  margin-right: 158px;
}

.to-top {
  position: fixed;
  bottom: 90px;
  right: 114px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 18px;
}

@media (max-width: 1200px) {
  .header-conteiner,
  .hero-conteiner,
  .about-container,
  .reader-container,
  .footer-container {
    max-width: 960px;
    margin-left: 115px;
  }

  .login {
    margin-right: 137px;
  }

  .image-block {
    max-width: 390px;
    min-width: 390px;
    margin-right: 30px;
  }

  .hero-text {
    margin-left: 0;
  }

  .about-book {
    max-width: 367px;
    margin-right: 52px;
  }

  .about-author {
    margin-right: 198px;
  }

  .section-title {
    font-size: 32px;
    font-weight: 700;
  }

  .reader-foto,
  .foto-part-2 {
    width: 140px;
    height: 140px;
    margin-right: 0;
  }

  .about-readers {
    margin-left: 114px;
    margin-right: 114px;
  }

  .reader-container {
    margin: 0;
  }

  .foto-avatar {
    padding-bottom: 0px;
  }
}

@media (max-width: 992px) {
  .header-conteiner,
  .hero-conteiner,
  .about-container,
  .about-readers,
  .footer-container {
    max-width: 760px;
    margin-left: 110px;
  }
  .nav {
    display: none;
  }

  .image-block {
    max-width: 298px;
    min-width: 298px;
  }

  .login {
    margin-right: 350px;
  }

  .about-container {
    max-width: 728px;
    min-width: 728px;
  }

  .info-text {
    flex-basis: 37%;
  }

  .login {
    margin-right: 370px;
  }

  .author {
    font-size: 22px;
    margin-bottom: 13px;
  }

  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .info {
    margin-bottom: 39px;
  }

  .hero-text {
    max-width: 455px;
    min-height: 380px;
  }

  .year {
    margin-right: 40px;
  }

  .tipe {
    margin-right: 40px;
  }

  .age,
  .format {
    flex-grow: 1;
  }

  .price {
    margin-bottom: 38px;
  }

  .button {
    font-size: 14px;
    width: 200px;
  }

  .button-primary {
    padding: 17px 42px;
  }

  .button-outline {
    padding: 17px 52px;
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 29px;
  }

  .about-container {
    flex-wrap: wrap;
  }
  .about-book {
    max-width: 100%;
    margin-bottom: 62px;
  }

  .section-title {
    font-size: 24px;
  }

  .text {
    font-size: 24px;
  }

  .foto:nth-child(3n + 3) {
    display: none;
  }

  .foto {
    width: 165px;
    height: 165px;
  }

  .requisites,
  .information {
    margin-right: 60px;
  }
}

@media (max-width: 768px) {
  .header-conteiner,
  .hero-conteiner,
  .about-container,
  .reader-container,
  .footer-container {
    max-width: 560px;
  }

  .login {
    margin-right: 570px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero-conteiner {
    display: block;
  }

  .image-block {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .hero-img {
    width: 560px;
    height: 788px;
  }

  .about-book {
    max-width: 73%;
    margin-bottom: 70px;
  }

  .reader-container {
    padding-bottom: 55px;
  }

  .requisites,
  .information {
    margin-right: 0px;
    margin-bottom: 60px;
  }

  .foto:nth-child(n + 9) {
    display: none;
  }
}

@media (max-width: 576px) {
  .header-conteiner,
  .hero-conteiner,
  .about-container,
  .reader-container,
  .footer-container {
    max-width: 85%;
    margin-left: 50px;
  }

  .favourites-text {
    display: none;
  }

  .login {
    margin-right: 660px;
  }

  .image-block {
    max-width: 100%;
  }

  .hero-img {
    width: 477px;
    height: 671px;
  }

  .about-author {
    max-width: 480px;
  }

  .author {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 31px;
  }

  .price {
    margin-bottom: 36px;
  }

  .info {
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  .info-text {
    flex-basis: 100%;
    margin-bottom: 19px;
  }

  .button {
    width: 100%;
    text-align: center;
  }

  .button-primary {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-book {
    width: 474px;
    margin-bottom: 70px;
  }
  .about-author {
    padding: 54px 44px;
  }

  .author-text {
    font-size: 14px;
  }

  .author-avatar {
    width: 64px;
    height: 66px;
    margin-bottom: 27px;
    margin-right: 21px;
  }

  .foto {
    width: 144px;
    height: 144px;
  }

  .about-readers {
    margin-left: 0;
    margin-right: 0;
  }

  .reader-container {
    margin-bottom: 69px;
    padding-bottom: 0;
    margin-left: 45px;
    margin-right: 37px;
  }

  .text {
    margin-top: 55px;
  }

  .requisites,
  .information,
  .contacts {
    font-size: 18px;
    flex-basis: 100%;
    margin-bottom: 36px;
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .header-conteiner,
  .hero-conteiner,
  .about-container,
  .reader-container,
  .footer-container {
    max-width: 85%;
  }

  .header-conteiner {
    margin-left: 30px;
  }

  .login {
    margin-right: 885px;
  }

  .hero-conteiner {
    margin-right: 25px;
    margin-left: 25px;
  }

  .hero-img {
    width: 263px;
    height: 370px;
  }

  .image-block {
    max-width: 100%;
    margin-bottom: 43px;
  }

  .about-author {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 11px;
  }

  .subtitle {
    max-width: 263px;
    font-size: 18px;
    margin-bottom: 35px;
  }

  .info-text {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .info {
    margin-bottom: 36px;
  }

  .button {
    width: 262px;
    height: 60px;
  }

  .button-primary {
    margin-bottom: 16px;
  }

  .text {
    margin-bottom: 32px;
  }

  .about-container {
    padding-top: 60px;
    margin-right: 28px;
    margin-left: 28px;
  }

  .about-book {
    max-width: 262px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .about-author {
    margin-right: 460px;
  }

  .about {
    padding: 0;
  }

  .foto {
    width: 124px;
    height: 125px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .reader-container {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .author-avatar {
    margin-right: 13px;
    margin-bottom: 24px;
    margin-top: 32px;
  }

  .author-bio {
    margin-right: 0;
    width: 143px;
  }

  .about-author {
    padding: 0px 25px 44px 20px;
    margin-bottom: 54px;
  }

  .address {
    display: none;
  }
  .foto:nth-child(n + 7) {
    display: none;
  }

  .author-link {
    font-size: 14px;
  }
  .about-author {
    display: flex;
  }

  .about {
    margin-bottom: 54px;
  }

  .reader-container {
    margin-left: 28px;
  }
}
